html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/***************** Global navigation ******************/
html,
h1,
h2,
h3,
p {
    font-family: proxima-nova, Montserrat, san-serif;
    font-weight: 400;
    font-style: normal;
    color: #222222;
}

body {
    font-size: 18px;
}

.container {
    max-width: 1140px;
    margin: 1% auto 1% auto;
}

h1 {
    font-size: 25px;
    text-transform: uppercase;
    margin: 4% 0 2% 0;
    letter-spacing: 1px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 2% 0 2% 0;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    letter-spacing: 0.1px;
    line-height: 1.3;
}



.logo {
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    display: inline-block;
    color: #222222;
}

a:link,
a:visited {
    color: #bbbbbb;
}

a:active,
a:hover {
    color: #222222;
}

.clear {
    clear: both;
}

img {
    width: 100%;
}

section {
    margin-bottom: 10%;
}

.main {
    padding: 15px;
}

/************* navi *************/
nav {
    font-family: Montserrat, sans-serif;
    color: #222222;
    font-size: 14px;
    margin-top: 8px;
}

nav.col-7 ul {
    float: right;
}

nav ul li,
.nav-portfolio {
    display: inline;
    margin-left: 20px;
    letter-spacing: 0.5px;
}


.sm-menu {
    display: none;
}

a.current {
    color: black;
}



/************* nav dropdown *************/
.dropdownnav {
    position: relative;
    display: inline-block;
}

.dropdownnav-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
    z-index: 1;
    margin-left: 10px;
    padding-bottom: 10px;
}

.dropdownnav-content a {
    color: #bbbbbb;
    padding: 10px 12px 7px 12px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.dropdownnav-content a:hover {
    color: #222222
}

.dropdownnav:hover .dropdownnav-content {
    display: block;
}


ul.sm-menu-list {
    text-align: left;
}


/************* column setting *************/

* {
    box-sizing: border-box;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px 15px 15px 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

a {
    text-decoration: none;
}

/************* footer *************/
/* footer{
    margin: 1% 2% 1% 2%;
} */

.col-4 i {
    float: right;
    margin-left: 20px;
}

.col-8.copyright {
    color: #bbbbbb;
}

.col-4.socialicons a:link,
.col-4.socialicons a:visited {
    color: #222222;
}

.col-4.socialicons a:hover {
    color: #bbbbbb;
}



/************* home *************/
.hero-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 650px;
}

.hero-title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-title h1 {
    font-size: 30px;
    font-family: Montserrat, san-serif;
    color: #fff;
    letter-spacing: 2px;
}

.hero-title h2 {
    color: #fff;
    letter-spacing: 1px;
    font-size: 23px;
    margin-top: 6px;
}

/************* about *************/
.wrapper-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
}

/* .item {
    background-color: #1EAAFC;
    background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
    color: #fff;
} */

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content{
    padding: 30px;
}


/************* portfolio *************/
.wrapper-insta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, minmax(250px, auto));
    grid-gap: 20px;
}

.item2 {
    background-color: #1EAAFC;
    background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
    color: #fff;
}


/************* portfolio enlarge *************/

/************* portfolio collection *************/
p.nomination {
    font-size: 18px;
    font-style: italic;
    /* margin-bottom: 10px; */
}

p.names {
    font-size: 18px;
}

/************* workshop *************/
.wrapper-workshop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-gap: 30px;
}

img.testimonial {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.tm-content {
    margin-top: -30px;
    padding: 15px;
    
}
.tm-content p{
    font-style: italic;
    font-size:16px;
}


.wrapper-tstm{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-gap: 30px;
}

.wrapper-wkimges {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 15px;
}

i.fas.fa-quote-left{
    color:#DBD5D5;
}

.tm-names{
    float: right;
    margin-top: 5%;
    font-size:14px;
}




/************* contact *************/
.wrapper-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-gap: 15px;
}

h3.popm{
    font-weight: 600;
}

p.pomp_address{
    line-height:2.0;
    margin-bottom: 5%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 13px;
    margin-bottom: 16px;
    resize: vertical;
    letter-spacing: 1px;
  }

  input[type=submit] {
    background-color: #222222;
    color: white;
    padding: 16px 70px;
    border: none;
    cursor: pointer;
    display:block;
    margin:5% auto 0 auto;
    letter-spacing: 1px;
  }

  

.space5{
 margin-top:5%;
}

.space5-bt
{
    margin-bottom:5%;
}

/****************** Media Quaory ******************/

/********* HUMBERGER MENU *********/
@media (max-width:1140px){
    .container{
        margin:1% 30px 1% 30px;
    }
}

@media (max-width:894px) {
    .smmenu-icon-wrapper {
        position: absolute;
        top: 1.8em;
        right: 2em;
        height: 26px;
        width: 26px;
        cursor: pointer
    }

    .hamburgler-icon,
    .hamburgler-icon:before,
    .hamburgler-icon:after {
        content: '';
        position: absolute;
        border-radius: 1em;
        height: 2px;
        width: 26px;
        background: black;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease
    }

    .hamburgler-icon {
        top: 0.75em
    }

    .hamburgler-icon:before {
        top: -0.55em
    }

    .hamburgler-icon:after {
        top: 0.55em
    }

    .hamburgler-active .hamburgler-icon {
        background: transparent;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg)
    }

    .hamburgler-active .hamburgler-icon:before,
    .hamburgler-active .hamburgler-icon:after {
        top: 0
    }

    .hamburgler-active .hamburgler-icon:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .hamburgler-active .hamburgler-icon,
    .hamburgler-active .hamburgler-icon:before,
    .hamburgler-active .hamburgler-icon:after {
        background: white
    }

    .sm-menu {
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        text-align: center;
    }

    .hamburgler-active .sm-menu {
        opacity: 1;
        pointer-events: initial;

    }

    .sm-menu-list {
        display: block;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        padding: 0;
        list-style-type: none;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1.2);
        transform: translate(-50%, -50%) scale(1.2)
    }

    .hamburgler-active .sm-menu-list {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1)
    }

    .sm-menu a {
        color: #bbbbbb;
    }

    .sm-menu a:hover {
        color: #ffffff
    }

    .sm-menu-list li {
        padding-bottom: 20px;
    }

    /*STACK ORDER*/
    #sm-menu-f.smmenu-icon-wrapper {
        z-index: 2;
    }

    .sm-menu {
        z-index: 1;
        /* height: 300px; */
    }

    /* hide menu */
    ul.menu {
        display: none;
    }

    /* show hamburgler menu */
    .sm-menu {
        display: block;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
    }

    /********* nav dropdown setting ********/

    li.nav-set {
        padding-bottom: 8px;
    }

    .dropdown-btn {
        width: 120%;
    }

    i.fa.fa-caret-down.fa-lg {
        float: right;
        position: relative;
        bottom: 21px;
    }

    .dropdown-btn.active {
        padding-bottom: 10px;
    }

    .dropdown-btn i {
        color: #fff;
    }

    .dropdownnav-content {
        position: relative;
        background: transparent;
        margin-top: -10px;
        margin-left: 8px;
        margin-bottom: 20px;
        padding-bottom: 0px;
    }

    .dropdownnav-content a {
        color: #bbbbbb;
    }

    .dropdownnav-content a:hover {
        color: #ffffff;
    }


}

@media (max-width:768px) {

    /********* about ********/
    .wrapper-about {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 250px);
    }

    .item1 {
        order: 2;
    }

    .item2 {
        order: 1;
    }

    .item3 {
        order: 3;
    }

    .item4 {
        order: 4;
    }

    .item5 {
        order: 6;
    }

    .item6 {
        order: 5;
    }

    /********* portfolio instagram ********/
    .wrapper-insta {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 250px);
    }

    /********* workshop ********/
    .wrapper-workshop {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .wrapper-tstm{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 15px;
    }

    .wrapper-wkimges{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-gap: 15px;
    }

     /********* contact ********/
    .wrapper-contact {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    input[type=text], select, textarea{
        margin-top: 3px;
    }

    input[type=submit]{
        margin-top:2%;
    }

}

@media (max-width:425px) {
    .logo {
        font-size: 16px;
    }

    .smmenu-icon-wrapper {
        top: 1.0em;
    }

    .hero-title h1 {
        font-size: 25px;
    }

    .hero-title h2 {
        font-size: 16px;
    }

    .wrapper-insta {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 250px);
    }

    h2 {
        font-size: 20px;
    }

}

@media (max-width:375px) {
    .hero-title h2 {
        font-size: 14px;
    }
}




